{% extends 'nav.html' %}
{% load static %}
{%  block body %}


<!--============== PAGE-TITLE ==============-->
<div class="page-title" style="background-image: url(/static/img1/back5.webp);">
    <div class="container">
        <h1 class="title">Services</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="{% url 'about' %}">About us</a></li>
            </ul>
        </div>
    </div>
</div>
<!--============ PAGE-TITLE END ============-->

<!--============== S-WE-OFFER ==============-->
<section class="s-we-offer">
    <div class="container">
        <h2>what we offer</h2>
        <p class="slogan">We provide all kinds of Internet Bussiness solutions and electronics and devices support for you home ,bussiness,organization </p>
        <div class="row we-offer-cover">
            <div class="col-12 col-sm-6 we-offer-item">
                <div class="offer-item-img">
                    <img src="{% static 'img1/manvr2.jpg' %}" alt="img">
                </div>
                <div class="offer-item-content">
                    <h4 class="title-line-left">Our mission</h4>
                    <p>We believe that technology plays a vital role in making the earth a better place. If implemented correctly it makes people healthier, safer and our environment less polluted. Smart devices and apps are one of the key technological advancements towards this vision and we want to play our role in helping achieve this vision.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 we-offer-item">
                <div class="offer-item-img">
                    <img src="{% static 'img1/website1.png' %}" alt="img">
                </div>
                <div class="offer-item-content">
                    <h4 class="title-line-left">Website Designs</h4>
                    <p>We build intelligent and beautiful websites. We build websites that build your business. We build websites that work, really work.Where affordability meets professionalism.
                        Where creativity meets technology. Where expectations meet excellence! Where our solutions become your internet reality. Where passion meets profession.</p>
                </div>
            </div>
        </div>
        <div class="row we-offer-bottom">
            <div class="col-6 col-md-4 col-xl-2">
                <div class="block-icon">
                    <img src="{% static 'img/icon-tab-4.svg' %}" alt="img">
                    <h6>Virtual Reality</h6>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="block-icon">
                    <img src="{% static 'img/icon-tab-2.svg' %}" alt="img">
                    <h6>Voice Analysis</h6>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="block-icon">
                    <img src="{% static 'img/icon-tab-3.svg' %}" alt="img">
                    <h6>Smart Home Apps</h6>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="block-icon">
                    <img src="{% static 'img/icon-tab-1.svg' %}" alt="img">
                    <h6>Smart Drones</h6>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="block-icon">
                    <img src="{% static 'img/icon-tab-5.svg' %}" alt="img">
                    <h6>Smart Website</h6>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="block-icon">
                    <img src="{% static 'img/icon-tab-6.svg' %}" alt="img">
                    <h6>Smart Mobile </h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============ S-WE-OFFER END ============-->

<!--============= GALLERY BLOCK =============-->
<section class="serv-block">
    <a href="{% url 'service' %}" class="serv-block-item">
        <span class="border-item"></span>
        <img src="{% static 'img1/product4.webp' %}" alt="img">
        <div class="serv-block-info">
            <h4>maintenance service</h4>
            <p>"Only a genius can do things his own way. You? You're no genius."</p>
            <span>read more</span>
        </div>
    </a>
    <a href="{% url 'service' %}" class="serv-block-item">
        <span class="border-item"></span>
        <img src="{% static 'img1/Drones.jpg' %}" alt="img">
        <div class="serv-block-info">
            <h4>aerial photography</h4>
            <p>While your drone can fly as high as 400 ft, to make the best shots fly at a much lower height of 100-150 ft</p>
            <span>read more</span>
        </div>
    </a>
    <a href="{% url 'service' %}" class="serv-block-item">
        <span class="border-item"></span>
        <img src="{% static 'img1/alexa.jpg' %}" alt="img">
        <div class="serv-block-info">
            <h4>Components for drones</h4>
            <p>Life is one click away from being better,A click is enough</p>
            <span>read more</span>
        </div>
    </a>
    <a href="{% url 'service' %}" class="serv-block-item">
        <span class="border-item"></span>
        <img src="{% static 'img1/boyvr.jpg' %}" alt="img">
        <div class="serv-block-info">
            <h4>360 VR equipment</h4>
            <p>Application are changing eCommerce and what companies are already using it as a way to drive sales.</p>
            <span>read more</span>
        </div>
    </a>
</section>
<!--=========== GALLERY BLOCK END ===========-->

<!--============= S-TESTIMONIALS =============-->
<section class="s-testimonials">
    <div class="container">
        <h2>testimonials</h2>
        <p class="slogan">Luxurious kings are to their people lost, They live like drones, upon the public cost.</p>
        <div class="slider-testimonials">
            <div class="slide-testimonial">
                <div class="testimonial-item">
                    <img src="{% static 'img1/profile1m.jpg' %}" alt="img">
                    <h5 class="name">Aakash</h5>
                    <div class="prof">clients</div>
                    <div class="testimon-content">I was worried about my farm house security, now I got the IoT solution of my dream .Now, i can monitor my farm 24*7 from any place.</div>
                </div>
                <div class="slide-testimonial">
                    <div class="testimonial-item">
                        <img src="{% static 'img1/profile1f.jpg' %}" alt="img">
                        <h5 class="name">Martha</h5>
                        <div class="prof">clients</div>
                        <div class="testimon-content">I was looking for an automated solution for my startup which deals with data backup and storage , I got my automation product developed with Ad Hoc devices and I am achieving the goals .</div>
                    </div>
                </div>
                <div class="slide-testimonial">
                    <div class="testimonial-item">
                        <img src="{% static 'img1/profile2f.jpg' %}" alt="img">
                        <h5 class="name">Shweta</h5>
                        <div class="prof">clients</div>
                        <div class="testimon-content">I started a company a few years back and my company is portfolio based , i was having issues in storing all the portfolio manually . Adhoc devices has provided me a solution using Cloud which manages the online portfolio in an awesome way and i am loving it.</div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--=========== S-TESTIMONIALS END ===========-->

<!--=========== S-DISCOUNT-PROGRAM ===========-->

<!--========= S-DISCOUNT-PROGRAM END =========-->

<!--=============== S-CONTACTS ===============-->
<section class="s-contacts">
    <div class="container">
        <h2>Contact us</h2>
        <p class="slogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <form action="/">
            <ul class="form-cover">
                <li class="inp-name"><input type="text" name="your-name" placeholder="Name"></li>
                <li class="inp-phone"><input type="tel" name="your-phone" placeholder="Phone"></li>
                <li class="inp-email"><input type="email" name="your-email" placeholder="E-mail"></li>
                <li class="inp-text"><textarea name="your-text" placeholder="Message"></textarea></li>
            </ul>
            <div class="checkbox-wrap">
                <div class="checkbox-cover">
                    <input type="checkbox">
                    <p>By using this form you agree with the storage and handling of your data by this website.</p>
                </div>
            </div>
            <div class="btn-form-cover">
                <button type="submit" class="btn">submit comment</button>
            </div>
        </form>
    </div>
</section>
<!--============= S-CONTACTS END =============-->


<!--================= TO TOP =================-->
<a class="to-top" href="#home">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
    <span>
			<img src="{% static 'img/icon-tab-1.svg' %}" alt="">
		</span>
</a>
<!--=============== TO TOP END ===============-->

<!-- =============== STYLE =============== -->
<link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--=============== TEMPLATE SCRIPT ===============-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
