
{% block nav %}
<!DOCTYPE html>

<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Quadex</title>
    <!-- =============== META =============== -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- =============== STYLE =============== -->
    <link rel="stylesheet" href="{% static 'css/critical.css' %}">
    <style>
		.preloader-active .preloader-cover{
			height: 4000px;
			transform: translate(-50%,-50%) rotate(45deg);
		}
		.preloader-cover{
			height: 0;
			width: 4000px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%) rotate(45deg);
			background: #131213;
			position: fixed;
			z-index: 999;
			overflow: hidden;
			transition: .8s cubic-bezier(0.65, 0.05, 0.36, 1) .3s;
			overflow: hidden;
			will-change: top, left;
		}
	</style>
</head>

<body id="home" class="home preloader-active" style="background-image: url({% static 'img/bg-body.svg' %});">
<!--=============== PRELOADER ===============-->
<div class="preloader-cover">
    <div class="preloader">
        <div class="ajax-loader">
            <div class="ajax-loader-logo">
                <div class="ajax-loader-circle">
                    <svg class="ajax-loader-circle-spinner" viewBox="0 0 500 500" xml:space="preserve">
							<circle cx="250" cy="250" r="239" />
						</svg>
                </div>
                <div class="ajax-loader-letters">Q</div>
            </div>
        </div>
    </div>
</div>
<!--============= PRELOADER END =============-->

<!--=============== HEADER ===============-->
<header class="header">
    <div class="container">
        <a href="#" class="nav-btn">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="row align-items-center">
            <!--=============== LOGO ===============-->
            <div class="col-12 col-sm-6 col-lg-3 logo-item">
                <a href="{% url 'home' %}" class="logo"><img src="{%  static 'img/logo.svg' %}" alt="logo"></a>
            </div>
            <!--============= LOGO END =============-->
            <div class="col-6 nav-menu-cover">
                <!--============= NAV MENU =============-->
                <nav class="nav-menu">
                    <ul class="nav-list">
                        <li class="active">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About us</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="blog.html">News</a></li>
                                <li><a href="pravicy-policy.html">Pravicy policy</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="{% url 'contact' %}">Contacts</a></li>
                    </ul>
                </nav>
                <!--=========== NAV MENU END ===========-->
            </div>
            {% endblock %}
            {% block body %}
            {% endblock %}
            {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3 footer-info">
                            <h5>about us</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="col-6 col-sm-4 col-lg-2 blok-link">
                            <h5>Shop</h5>
                            <ul>
                                <li><a href="#">DJI</a></li>
                                <li><a href="#">Parrot</a></li>
                                <li><a href="#">Hubsan</a></li>
                                <li><a href="#">Mi</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-sm-4 col-lg-2 blok-link">
                            <h5>discount</h5>
                            <ul>
                                <li><a href="#">lorem ipsum</a></li>
                                <li><a href="#">dolor sit amet</a></li>
                                <li><a href="#">tempor incididunt</a></li>
                                <li><a href="#">enim ad minim</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-4 col-lg-2 blok-link">
                            <h5>support</h5>
                            <ul>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 footer-subscribe">
                            <h5>subscribe</h5>
                            <form action="/" class="subscribe-form">
                                <input type="email" name="subscribe" placeholder="E-mail">
                                <input type="submit" value="send">
                            </form>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-3">
                                <a href="index.html" class="logo footer-logo"><img src="{%  static 'img/logo.svg' %}" alt="logo"></a>
                            </div>
                            <div class="col-12 col-md-6">
                                <ul class="footer-menu">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="services.html">Sevices</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="{% url 'contact' %}">Contacts</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-3">
                                <ul class="soc-link">
                                    <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <p><a class="rovadex" href="https://rovadex.com" target="_blank">Rovadex</a> © 2019. <a href="pravicy-policy.html" target="_blank">All Rights Reserved.</a></p>
                    </div>
                </div>
            </footer>
            <!--===================== FOOTER END =====================-->
{% endblock %}