
{% block nav %}
<!DOCTYPE html>

<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>ad-hoc</title>
    <!-- =============== META =============== -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img1/icon/hhh.png' %}">
    <!-- =============== STYLE =============== -->
    <link rel="stylesheet" href="{% static 'css/critical.css' %}">
    <style>
		.preloader-active .preloader-cover{
			height: 4000px;
			transform: translate(-50%,-50%) rotate(45deg);
		}
		.preloader-cover{
			height: 0;
			width: 4000px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%) rotate(45deg);
			background: #131213;
			position: fixed;
			z-index: 999;
			overflow: hidden;
			transition: .8s cubic-bezier(0.65, 0.05, 0.36, 1) .3s;
			overflow: hidden;
			will-change: top, left;
		}
	</style>
</head>

<body id="home" class="home preloader-active" style="background-image: url({% static 'img/bg-body.svg' %});">
<!--=============== PRELOADER ===============-->
<div class="preloader-cover">
    <div class="preloader">
        <div class="ajax-loader">
            <div class="ajax-loader-logo">
                <div class="ajax-loader-circle">
                    <svg class="ajax-loader-circle-spinner" viewBox="0 0 500 500" xml:space="preserve">
							<circle cx="250" cy="250" r="239" />
						</svg>
                </div>
                <div class="ajax-loader-letters">a-h</div>
            </div>
        </div>
    </div>
</div>
<!--============= PRELOADER END =============-->

<!--=============== HEADER ===============-->
<header class="header">
    <div class="container">
        <a href="#" class="nav-btn">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="row align-items-center">
            <!--=============== LOGO ===============-->
            <div class="col-12 col-sm-6 col-lg-3 logo-item">
                <a href="{% url 'home' %}" class="logo"><img src="{%  static 'img1/icon/logo1.svg' %}" alt="logo"></a>
            </div>
            <!--============= LOGO END =============-->
            <div class="col-6 nav-menu-cover">
                <!--============= NAV MENU =============-->
                <nav class="nav-menu">
                    <ul class="nav-list">
                        <li class="active">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About us</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="{% url 'service' %}">UI/UX</a></li>
                                <li><a href="{% url 'service' %}">AWS Cloud Services</a></li>
                                <li><a href="{% url 'service' %}">Azure Cloud Support</a></li>
                                <li><a href="{% url 'service' %}">Iot Devices</a></li>
                                <li><a href="{% url 'service' %}">Web Services</a></li>
                                <li><a href="{% url 'service' %}">Apps Services</a></li>
                                <li><a href="{% url 'service' %}">Digital Ocean Hosting</a></li>
                                <li><a href="{% url 'service' %}">AWS Hosting</a></li>
                                <li><a href="{% url 'service' %}">Chat Messanger</a></li>
                                <li><a href="{% url 'service' %}">Devops</a></li>
                                <li><a href="{% url 'service' %}">Data Analytics</a></li>
                            </ul>


                        </li>
                        <li><a href="{% url 'product' %}">Product</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% endif %}
                        <li><a href="{% url 'contact' %}">Contacts</a></li>
                    </ul>
                </nav>
                <!--=========== NAV MENU END ===========-->
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <!--============ HEADER ICON ============-->
                <ul class="header-icon">
                    <li class="search">
                        <a class="icon" href="#">
                            <i  class="fa fa-search" aria-hidden="true"></i>
                        </a>
                        <form action="{% url 'search' %}" method="get">
                            <input type="search" name="search" placeholder="Search">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </li>

                    <li>
                        <a class="icon" href="{% url 'login' %}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="icon"  href="{% url 'checkout' %}"   >
                            <i id="cart" class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <!--========== HEADER ICON END ==========-->
            </div>
        </div>
    </div>
</header>
            {% endblock %}
            {% block body %}
            {% endblock %}
            {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3 footer-info">
                            <h5>about us</h5>
                            <p>“The IoT is big news because it ups the ante: ‘Reach out and touch somebody’ is becoming ‘reach out and touch everything’.” — Parker Trewin, Senior Director of Content and Communications, Aria Systems</p>
                        </div>
                        <div class="col-6 col-sm-4 col-lg-2 blok-link">
                            <h5>Shop</h5>
                            <ul>
                                <li><a href="#">Custom Drones</a></li>
                                <li><a href="#">Voice Analytics</a></li>
                                <li><a href="#">Smart Home Apps</a></li>
                                <li><a href="#">Smart Mobile Apps</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-sm-4 col-lg-2 blok-link">
                            <h5>discount</h5>
                            <ul>
                                <li><a href="#">chat Bot</a></li>
                                <li><a href="#">smart cities</a></li>
                                <li><a href="#">NLP & Machine Learning Apps </a></li>
                                <li><a href="#">Augumented Reality</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-4 col-lg-2 blok-link">
                            <h5>support</h5>
                            <ul>


                                <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="footer-bottom">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-3">
                                <a href="{% url 'home' %}" class="logo footer-logo"><img src="{%  static 'img1/icon/logo1.svg' %}" alt="logo"></a>
                            </div>
                            <div class="col-12 col-md-6">
                                <ul class="footer-menu">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'service' %}">Sevices</a></li>
                                    <li><a href="{% url 'product' %}">Shop</a></li>

                                    <li><a href="{% url 'contact' %}">Contacts</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-3">
                                <ul class="soc-link">
                                    <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <p><a class="rovadex" href="https://ad-hoc.com" target="_blank">ad-hoc</a> © 2021. <a href="pravicy-policy.html" target="_blank">All Rights Reserved.</a></p>
                    </div>
                </div>
            </footer>
            <!--===================== FOOTER END =====================-->
<script>

</script>
{% endblock %}