{% extends 'nav.html' %}
{% load static %}
{% block nav-tab %}
    <li class="dropdown">
        <a href="#">Category <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'category' category.slug %}">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
    </li>
{% endblock %}
{%  block body %}

	{#============= PAGE-TITLE =============#}
	<div class="page-title" style="background-image: url(/static/img1/back6.jpg);">
		<div class="container">
			<h1 class="title">Products</h1>
			<div class="breadcrumbs">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li>Products</li>
				</ul>
			</div>
		</div>
	</div>
	{#=========== PAGE-TITLE END ===========#}

	{#=========== NEW-PRODUCT ===========#}
	<section class="new-product">
		<div class="container">
			<h2>new products</h2>
			<p class="slogan">We serve latest gadget in affordable prices as per Indian Coustomer demands ,These products make you future ready and brings finest technology in very affordable prices </p>
			<div class="slider-new-product">
				{% for product in new_product %}
				<div class="slide-new-product">
					<div class="prod-item new">
						<div class="prod-thumbnail">
							<div class="prod-img">
								<div class="lable lable-new">new</div>
								<div class="lable lable-sale">sale</div>
								<img src="{{ product.image.url }}" alt="img">
								<ul class="prod-link-cover">
									<li><a href="/shopsingle/{{product.slug}}"><i class="fa fa-link" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-exchange" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="prod-content">
							<h5 class="title"><a href="{% url 'shopsingle' product.slug %}">{{ product.name }}</a></h5>
							
							<div class="price">
								<span class="new-price">Rs-{{product.price}}/-</span>
							</div>
							<a href="{% url 'shopsingle' product.slug %}" class="btn">MORE</a>
						</div>
					</div>
					{#=========== PROD-ITEM END ===========#}
				</div>
                {% endfor %}
				{#======== SLIDE-NEW-PRODUCT END ========#}
			</div>
		</div>
	</section>
	{#========= NEW-PRODUCT END =========#}

	{#============ S-BANNERS ============#}
	<section class="s-banners">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="baner-item">
						<img src="{% static 'img1/discount1.jpg' %}" alt="img">
						<div class="baner-item-content">
							<h2>our discount program</h2>
							<p>We Offer several discount to our new users , so what are you waiting for start shopping</p>
							<a href="#" class="btn">read more</a>
							<div class="banner-sale-cover">
								<div class="banner-sale">30% off</div>
								<p>flat 30 off on first purchase</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="baner-item">
						<img src="{% static 'img1/discount2.jfif' %}" alt="img">
						<div class="baner-item-content">
							<h2>discount program</h2>
							<p>We Offer several discount to our new users , so what are you waiting for start shopping</p>
							<a href="#" class="btn">read more</a>
							<div class="banner-sale-cover">
								<div class="banner-sale">50% off</div>
								<p>flat 50 off for our coustomers<br> (alredy shopped with us)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    {#========== S-BANNERS END ==========#}

	{#=============== TO TOP ===============#}
	<a class="to-top" href="#home">
		<i class="fa fa-chevron-up" aria-hidden="true"></i>
		<span>
			<img src="{% static 'img/icon-tab-1.svg' %}" alt="">
		</span>
	</a>
	{#============= TO TOP END =============#}

	{# =============== STYLE =============== #}
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	{#=============== TEMPLATE SCRIPT ===============#}
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
</body>
{% endblock %}
<script>

</script>