{% extends 'nav.html' %}
{% load static %}
{%  block body %}


	{#============= PAGE-TITLE =============#}
{% for product in product %}
	<div class="page-title" style="background-image: url(img/bg-page.jpg);">
		<div class="container">
			<h1 class="title" id="pname{{product.id}}">{{product.name}}</h1>
			<div class="breadcrumbs">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'product' %}">Product</a></li>
					<li>{{ product.name }}</li>
				</ul>
			</div>
		</div>
	</div>
	{#=========== PAGE-TITLE END ===========#}

	{#========= S-SINGLE-PRODUCT =========#}
	<section class="s-single-product">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-5">
					{#===== SLIDER-SINGLE-FOR =====#}
					<div class="slider-single-for">

						{% for image in images %}
						<div class="slide-single-for">
							<a href="{{ image.image.url }}" class="single-for-img" data-fancybox="prod1">
								<img src="{{ image.image.url }}" alt="img">
							</a>
						</div>
						{% endfor %}

					</div>
					<div class="slider-single-nav">
						{% for image in images %}
						<div class="slide-single-nav">
							<div class="single-nav-img">
								<img src="{{ image.image.url }}" alt="img">
							</div>
						</div>


						{% endfor %}

					</div>
					{#=== SLIDER-SINGLE-FOR END ===#}
					{#===== SLIDER-SINGLE-NAV =====#}

				</div>
				<div class="col-12 col-md-7 single-left">
					<div class="single-text">
						<p>{{ product.description }}</p><br>
                        <div class="single-price" id="pprice{{ product.id }}">Rs-{{ product.price }}</div>
					</div>
					{% if user.is_authenticated %}
						{% if cartItems %}
						<button class="btn btn-primary" onclick="location='{% url 'checkout' %}'">Already In Cart</button>
						{% endif %}
					{% endif %}
					{% if user.is_authenticated %}
					{% if not  cartItems %}
					<button id="{{ product.id }}" onclick="addToCart({{ product.id }});"  class="btn btn-primary">Add To Cart</button>
					{% endif %}
					{% endif %}
					{% if not user.is_authenticated %}
					<button type="submit" class="btn btn-primary">Log In To add To Cart</button>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			{#=========== SINGLE-TAB ===========#}
			<div class="single-tab">
				<div class="tab-wrap">
					<ul class="tab-nav gallery-tabs">
						<li class="item" rel="tab1">Information</li>
						<li class="item" rel="tab2">Reviews</li>
						<li class="item" rel="tab3">FAQ</li>
					</ul>
					<div class="tabs-content">
						<div class="tab tab1">
							{% for information in information %}
							<div class="tab-information">
								<p>{{information.information}}</p>

							</div>
							{% endfor %}
						</div>
						<div class="tab tab2">
							<ul class="reviews-list">
								{% for reviews in review %}
								<li class="item">
									<div class="review-item">
										<div class="review-avatar"><img src="{% static 'img/testimonials-1.png' %}" alt="img"></div>
										<div class="review-content">
											<div class="name">{{reviews.user.username}}</div>
											<div class="date">{{reviews.date}}</div>
											<p class="review-comment">{{reviews.reviews}}</p>

										</div>
									</div>


								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="tab tab3">
							<ul class="faq-cover">

									{% for question_answer in faq %}
								<li>
									<h6 class="title-line-left">{{question_answer.question}}</h6>
									<p>{{question_answer.answer}}</p>
								</li>
								{% endfor %}


							</ul>
						</div>
					</div>
				</div>
			</div>
			{#========= SINGLE-TAB END =========#}
		</div>
	</section>
	{#======== S-SINGLE-PRODUCT END ========#}

	{#========= S-DISCOUNT-PROGRAM =========#}
	<section class="s-discount-program mask" style="background-image: url(img/bg-4.jpg);">
		<div class="container">
			<h2>Join our discount program </h2>
			<p class="slogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
			<a href="{% url 'product' %}" class="btn">read more</a>
			<div class="sale-cover">
				<div class="sale">30% off</div>
				<p>Lorem ipsum dolor sit amet</p>
			</div>
		</div>
	</section>
	{#======= S-DISCOUNT-PROGRAM END =======#}

	{#========= S-RELATED-PRODUCTS =========#}
	<section class="s-related-products">
		<div class="container">
			<h2>related products</h2>
			<p class="slogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
			<div class="row">

				{% for p in products %}

				{#=========== PROD-ITEM ===========#}
				<div class="col-12 col-sm-6 col-xl-3 prod-item">
					<div class="prod-thumbnail">
						<div class="prod-img">
							<div class="lable lable-new">new</div>
							<div class="lable lable-sale">sale</div>
							<img src="{{p.image.url}}" alt="img">
							<ul class="prod-link-cover">
								<li><a href="/shopsingle/{{product.id}}"><i class="fa fa-link" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-exchange" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="prod-content">
						<h5 class="title"><a href="/shopsingle/{{p.id}}/">spark white</a></h5>
						<p>{{p.description}}</p>
						<div class="price">
							<span class="new-price">{{p.price}}</span>
						</div>
						<a  href="/shopsingle/{{p.id}}" class="btn">buy now</a>
					</div>
				</div>
				{#========= PROD-ITEM END =========#}
				{% endfor %}
			</div>
		</div>
	</section>
	{#======= S-RELATED-PRODUCTS END =======#}

	{#================= FOOTER =================#}


	{#================= TO TOP =================#}
	<a class="to-top" href="#home">
		<i class="fa fa-chevron-up" aria-hidden="true"></i>
		<span>
			<img src="{% static 'img/icon-tab-1.svg' %}" alt="">
		</span>
	</a>
	{#=============== TO TOP END ===============#}

	{# =============== STYLE =============== #}
	<link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	{#=============== TEMPLATE SCRIPT ===============#}
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>

<script>
function addToCart(id){
console.log("add to cart");
$.ajax({
url:"{% url 'addtocart' %}",
method:"POST",
async:true,
data:{'id':id},
dataType:'json',
success:function(data){
console.log(data);
console.log("success");
document.getElementById(id).innerHTML="Already in cart "

},
}
);
}



</script>
{% endblock %}

